<div class="row">
    <div class="col-4">
        <div class="mb-3">
            <button class="default-button" (click)="onAddFolderClick()">Add Folder</button>
        </div>
        <div class="row">
            <div class="col-12 px-5 mb-3 mx-1 d-flex align-items-center folder-item"
                *ngFor="let folder of folders" style="position: relative;">
                <i class="bi bi-folder-fill me-2" style="cursor: pointer; font-size: 2.5rem; color: #007bff;"
                    (click)="onFolderClick(folder.id)"></i>
                <div style="cursor: pointer;" (click)="onFolderClick(folder.id)">
                    <strong>{{ folder.name }}</strong>
                </div>
                <div class="delete" (click)="onDeleteFolderClick(folder.id)">
                    X
                </div>
            </div>
        </div>
        <!-- File List -->
        <div class="row">
            <div class="col-12 px-5 mb-3 mx-1 d-flex align-items-center file-item" *ngFor="let file of files"
                style="position: relative;">
                <i (click)="onFileClick(file.id)" class="{{ getFileIcon(file.name) }} me-2"
                    style="cursor: pointer; font-size: 2.5rem; color: #007bff;"></i>
                <div (click)="onFileClick(file.id)" style="cursor: pointer;">
                    <strong>{{ file.name }}</strong> <br>
                    <small class="text-muted">{{ file.size / 1000000 | number : '1.0-3'}} MB</small>
                </div>
                <div class="delete" (click)="onDeleteClick(file.id)">
                    X
                </div>
            </div>
        </div>
    </div>

    <!-- Right Column for Metadata -->
    <div class="col-8" *ngIf="selectedFileId">
        <app-metadata [selectedFileId]="selectedFileId"></app-metadata>
    </div>

</div>

<!-- Loading Spinner -->
<div *ngIf="isLoading" class="spinner">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>