.delete {
    position: absolute;
    top: 8px;
    right: 5px;
    color: red;
    padding-left: 5px;
    padding-right: 5px;
}

.delete:hover{
    color: rgb(165, 3, 3);
    background-color: rgba(212, 211, 211, 0.2);
    cursor: pointer;
}

.file-item{
    border: 1px solid gray;
}

.folder-item{
    border: 1px solid gray;
}

.selected-folder{
    border: 5px solid rgb(18, 20, 148);
}


.selected-file{
    border: 3px solid rgb(18, 20, 148);
}