.subtitle {
    text-decoration: underline;
}

.row div {
    justify-content: space-between;
    text-align: justify;
}

.col-2{
    font-size: 18px;
}

.col-10{
    font-size: 16px;
}

#fileContainer {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
  }
  
  iframe, video, img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
  }
  