<div class="row my-3">
    <div class="col-12 text-center">
        <h1>Metadata <span *ngIf="metadata && metadata.general.title !== ''">- {{metadata.general.title}}</span></h1>
    </div>
</div>
<div class="row col-12">
    <div id="fileContainer"></div>
</div>
<div class="row" *ngIf="metadata">
    <form login [formGroup]="metadataForm" (ngSubmit)="editMetadata()" class="row">
        <div class="mt-2 text-center">
            <button type="submit" class="button-style" id="change">Apply Changes</button>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h2 class="subtitle mx-4 my-2">General</h2>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Title: </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="general_title" id="general_title"
                                formControlName="general_title">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Description: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="general_description" id="general_description"
                                formControlName="general_description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Coverage: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="general_coverage" id="general_coverage"
                                formControlName="general_coverage"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Aggregation level: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="general_aggregation_level"
                                formControlName="general_aggregation_level">
                                <option *ngFor="let level of aggregationLevels" [value]="level">{{ level }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Keywords: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="general_keywords" id="general_keywords"
                                formControlName="general_keywords"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Language: </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="general_language" id="general_language"
                                formControlName="general_language" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Structure: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="general_structure" formControlName="general_structure">
                                <option *ngFor="let structure of structures" [value]="structure">{{ structure }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h2 class="subtitle mx-4 my-2">Educational</h2>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Interactivity Type: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="educational_interactivity_type"
                                formControlName="educational_interactivity_type">
                                <option *ngFor="let InteractivityType of interactivityTypes"
                                    [value]="InteractivityType">{{ InteractivityType }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Learning Resource Type: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="educational_learning_resource_type"
                                formControlName="educational_learning_resource_type">
                                <option *ngFor="let type of learningResourceTypes" [value]="type">{{ type }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Interactivity Level: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="educational_interactivity_level"
                                formControlName="educational_interactivity_level">
                                <option *ngFor="let level of interactivityLevels" [value]="level">{{ level }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Semantic Density: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="educational_semantic_density"
                                formControlName="educational_semantic_density">
                                <option *ngFor="let density of semanticDensities" [value]="density">{{ density }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Intended End User Role: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="educational_intended_end_user_role"
                                formControlName="educational_intended_end_user_role">
                                <option *ngFor="let role of intendedUserRoles" [value]="role">{{ role }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Context: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="educational_context" formControlName="educational_context">
                                <option *ngFor="let context of contexts" [value]="context">{{ context }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Typical Age Range: </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="educational_typical_age_range"
                                id="educational_typical_age_range" formControlName="educational_typical_age_range" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Difficulty: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="educational_difficulty"
                                formControlName="educational_difficulty">
                                <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{ difficulty }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Typical Learning Time: </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="educational_stypical_learning_time"
                                id="educational_stypical_learning_time"
                                formControlName="educational_stypical_learning_time" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Description: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="educational_description"
                                id="educational_description" formControlName="educational_description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h2 class="subtitle mx-4 my-2">Life Cycle</h2>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Version: </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="lifeCycle_version" id="lifeCycle_version"
                                formControlName="lifeCycle_version" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Status: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="lifeCycle_status" id="lifeCycle_status"
                                formControlName="lifeCycle_status"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Contribute: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="lifeCycle_contribute" id="lifeCycle_contribute"
                                formControlName="lifeCycle_contribute"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h2 class="subtitle mx-4 my-2">Classification</h2>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Purpose: </b>
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="classification_purpose"
                                formControlName="classification_purpose">
                                <option *ngFor="let purpose of purposes" [value]="purpose">{{ purpose }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Taxon Path: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="classification_taxon_path"
                                id="classification_taxon_path" formControlName="classification_taxon_path"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Description: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="classification_description"
                                id="classification_description" formControlName="classification_description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Keywords: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="classification_keywords"
                                id="classification_keywords" formControlName="classification_keywords"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h2 class="subtitle mx-4 my-2">Rights</h2>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Cost: </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="rights_cost" id="rights_cost"
                                formControlName="rights_cost" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Copyright: </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="rights_copyright" id="rights_copyright"
                                formControlName="rights_copyright" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Description: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="rights_description" id="rights_description"
                                formControlName="rights_description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h2 class="subtitle mx-4 my-2">Technical</h2>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Format: </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="technical_format" id="technical_format"
                                formControlName="technical_format" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Size (MB): </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="technical_size" id="technical_size"
                                formControlName="technical_size" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Location: </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="technical_location" id="technical_location"
                                formControlName="technical_location" />
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Requirement: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="technical_requirement"
                                id="technical_requirement" formControlName="technical_requirement"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Installation Remarks: </b>
                        </div>
                        <div class="col-9">
                            <textarea rows=7 class="form-control" name="technical_installation_remarks"
                                id="technical_installation_remarks"
                                formControlName="technical_installation_remarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row mx-3">
                        <div class="col-3">
                            <b>Duration (sec): </b>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" name="technical_duration" id="technical_duration"
                                formControlName="technical_duration" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 text-center">
            <button type="submit" class="button-style" id="change">Apply Changes</button>
        </div>
    </form>
</div>
<div *ngIf="isLoading" class="spinner">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>