<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle">General</h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Title: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.general.title}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Description: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.general.description}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Coverage: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.general.coverage}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Aggregation level: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.general.aggregation_level}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Keywords: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.general.keywords}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Language: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.general.language}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Structure: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.general.structure}}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle">Life Cycle</h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Version: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.lifeCycle.version}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Status: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.lifeCycle.status}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Contribute: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.lifeCycle.contribute}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle">Technical</h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Format: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.tehnical.format}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Size: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.tehnical.size}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Location: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.tehnical.location}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Requirement: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.tehnical.requirement}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Installation Remarks: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.tehnical.installation_remarks}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Duration: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.tehnical.duration}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle">Educational</h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Interactivity Type: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.interactivity_type}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Learning Resource Type: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.learning_resource_type}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Interactivity Level: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.interactivity_level}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Semantic Density: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.semantic_density}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Intended End User Role: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.intended_end_user_role}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Context: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.context}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Typical Age Range: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.typical_age_range}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Difficulty: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.difficulty}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Typical Learning Time: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.typical_learning_time}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Description: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.description}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Language: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.educational.language}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle">Rights</h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Cost: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.rights.cost}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Copyright: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.rights.copyright}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Description: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.rights.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle">Relation</h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Kind: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.relation.kind}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Resource: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.relation.resource}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Annotation: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.relation.annotation}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle">Classification</h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Purpose: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.classification.purpose}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Taxon Path: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.classification.taxon_path}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Description: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.classification.description}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Keywords: </b>
                    </div>
                    <div class="col-6">
                        {{metadata.classification.keywords}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>