<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle mx-4 my-2">General</h2>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Title: </b>
                    </div>
                    <div class="col-10">
                        <!-- {{metadata.general.title}} -->
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet consequat diam,
                        nec sodales purus. Aenean non sapien felis. Duis lobortis nulla imperdiet eros pretium, a
                        ullamcorper nulla ultricies. Fusce feugiat pretium augue sed ornare. Nullam lectus est,
                        ultricies id lectus vitae, elementum tincidunt dui. Fusce eget enim vitae est tristique luctus a
                        et nisl. Etiam vel sagittis lorem, in lobortis odio.

                        Quisque tempus cursus sagittis. Suspendisse sed maximus turpis. Sed purus tortor, interdum ut
                        molestie id, mattis quis nisl. Praesent vehicula congue lacinia. Mauris facilisis dui vel leo
                        vestibulum aliquam. Phasellus id urna vitae nisl ornare tincidunt. Quisque ornare tempor leo in
                        blandit. In facilisis diam eu aliquam ultricies. Sed metus mi, dapibus a enim eu, bibendum
                        pellentesque urna. Phasellus sed ipsum erat. Morbi eget lectus sed quam venenatis luctus aliquet
                        in dui. Sed consequat imperdiet arcu, commodo dapibus metus commodo vel. Ut a velit quis tellus
                        varius volutpat.

                        Aliquam erat erat, condimentum eu pulvinar eget, bibendum quis sem. Cras aliquam, elit sit amet
                        commodo luctus, leo turpis pellentesque leo, sit amet volutpat enim tellus ut turpis. Nam
                        efficitur nulla et sollicitudin ullamcorper. Integer ut orci quis libero laoreet consectetur.
                        Phasellus neque purus, bibendum eget interdum vitae, congue eget libero. Sed vehicula ante vitae
                        mauris dignissim hendrerit. Quisque vestibulum quis nisi et efficitur. Fusce vel dui ex. Cras
                        non erat est. Etiam mauris diam, feugiat fringilla ullamcorper non, laoreet id ipsum.
                        Suspendisse potenti. Aenean ultricies sodales rhoncus. Nulla fringilla mi et justo bibendum, at
                        semper libero facilisis. Etiam aliquam rhoncus sapien at faucibus. Nullam interdum lacus ut nunc
                        porta, eget laoreet purus rutrum. Suspendisse rhoncus auctor euismod.

                        In gravida, tortor tempor fringilla posuere, ante turpis mollis leo, ut ultricies libero lorem
                        at leo. Integer mattis lacus sem, at condimentum turpis hendrerit ac. Integer maximus placerat
                        justo id suscipit. Cras et sem sem. Nullam eu nibh sagittis, pretium elit in, volutpat turpis.
                        Integer interdum, lacus a pellentesque volutpat, orci arcu tincidunt ipsum, quis mollis justo
                        nisi eu elit. Nam vel massa aliquam, pulvinar lectus convallis, ornare elit. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vel elit vitae ipsum
                        ornare pellentesque sit amet et ex. Aenean pellentesque mi est, a vehicula purus malesuada sed.
                        Nunc egestas luctus dui. Proin sit amet magna et est mattis ornare. Aenean placerat interdum
                        cursus. Etiam sit amet lacinia sem. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Aliquam ut vulputate purus.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Description: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.general.description}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Coverage: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.general.coverage}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Aggregation level: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.general.aggregation_level}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Keywords: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.general.keywords}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Language: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.general.language}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Structure: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.general.structure}}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle mx-4 my-2">Educational</h2>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Interactivity Type: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.interactivity_type}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Learning Resource Type: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.learning_resource_type}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Interactivity Level: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.interactivity_level}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Semantic Density: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.semantic_density}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Intended End User Role: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.intended_end_user_role}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Context: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.context}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Typical Age Range: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.typical_age_range}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Difficulty: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.difficulty}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Typical Learning Time: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.typical_learning_time}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Description: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.description}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Language: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.educational.language}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle mx-4 my-2">Life Cycle</h2>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Version: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.lifeCycle.version}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Status: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.lifeCycle.status}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Contribute: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.lifeCycle.contribute}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle mx-4 my-2">Classification</h2>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Purpose: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.classification.purpose}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Taxon Path: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.classification.taxon_path}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Description: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.classification.description}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Keywords: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.classification.keywords}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle mx-4 my-2">Rights</h2>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Cost: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.rights.cost}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Copyright: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.rights.copyright}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Description: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.rights.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle mx-4 my-2">Relation</h2>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Kind: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.relation.kind}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Resource: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.relation.resource}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Annotation: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.relation.annotation}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h2 class="subtitle mx-4 my-2">Technical</h2>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Format: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.tehnical.format}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Size: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.tehnical.size}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Location: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.tehnical.location}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Requirement: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.tehnical.requirement}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Installation Remarks: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.tehnical.installation_remarks}}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row mx-3">
                    <div class="col-2">
                        <b>Duration: </b>
                    </div>
                    <div class="col-10">
                        {{metadata.tehnical.duration}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>